# https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 2 spaces indent for python files
[*.py]
indent_style = spaces
indent_size = 4

[*.yaml]
indent_style = spaces
indent_size = 2
